In [3]:
#on 21-9-2021 .

# Append

In [2]:
the_list = ['one' , 'tow' , 'there']
the_list.append('four')
the_list

['one', 'tow', 'there', 'four']

# Extend

In [6]:
one = ['python' , 'php' , 'java']
tow = ['c' , 'c++' , 'c']

one.extend(tow)

one

['python', 'php', 'java', 'c', 'c++', 'c']

# Count

In [8]:
one = ['python' , 'php' , 'java']

x = one.count('java')

x

1

# index

In [10]:
one = ['python' , 'php' , 'java']

y = one.index('java')

y

2

# insert

In [12]:
names = ['ahmad' , 'sara' ,'mohab' , 'saeed']

names.insert(4 , 'Misk')

names

['ahmad', 'sara', 'mohab', 'saeed', 'Misk']

# POP

In [13]:
names = ['ahmad' , 'sara' ,'mohab' , 'saeed']

names.pop(1)

names

['ahmad', 'mohab', 'saeed']

# remove

In [14]:
names = ['ahmad' , 'sara' ,'mohab' , 'saeed']

names.remove('ahmad')

names

['sara', 'mohab', 'saeed']

# Reverse

In [16]:
names = ['ahmad' , 'sara' ,'mohab' , 'saeed']
names.reverse()
names

['saeed', 'mohab', 'sara', 'ahmad']

# Sort

In [18]:
names = ['ahmad' , 'sara' ,'mohab' , 'saeed']
names.sort()
names

['ahmad', 'mohab', 'saeed', 'sara']

In [19]:
# Assign Varibles

x = 1

y = 2

z = 3

list1 = [x,y,z]

list2 = list1

list2[1] = 4

list1

[1, 4, 3]

In [17]:
items = [['rice' , 10 , 2] , ['flour' , 5 , 3] , ['corn' , 4 , 2]]

for item in items :
    print("Product: %s price: %s quantity: %s" %(item[0] , item[1] , item[2]))

Product: rice price: 10 quantity: 2
Product: flour price: 5 quantity: 3
Product: corn price: 4 quantity: 2

In [22]:
items = [['iphone8' , '1700$' , 1800] , ['iphone9' , 1800 , 1900] , ['iphone10' , 1900 ,  200]]

for item in items:
    print("The Prices iphone is : %s price company %s price agent : %s" %(item[0] , item[1] , item[2]))

The Prices iphone is : iphone8 price company 1700$ price agent : 1800
The Prices iphone is : iphone9 price company 1800 price agent : 1900
The Prices iphone is : iphone10 price company 1900 price agent : 200

In [23]:
items[1][1] = items[1][1] * 1.2

items[1][1]

2160.0

In [25]:
l = [2 , 4 , 8 ,16]

for i in l :
    
    print(i ** 3)

8
64
512
4096

In [6]:
# declaring a string variable
name = "Geek"
  
# append a string within a string
print("Hey, %s!" % name)

Hey, Geek!

In [9]:
# declaring a string variable
name = "Geek"
  
# append a string within a string
print("Hey, " + name)

Hey, Geek

In [12]:
# declaring a string variable
name = "Geek"
  
# append a string within a string
print("Hey, %s!"  % name)

Hey, Geek!