12-9-2021 -- Misk Dayys

In [3]:
a = 'Saeed Shaban'

a.capitalize()

'Saeed shaban'

In [17]:
a.count('Saeed')

1

In [30]:
x = "H\te\tl\tl\to"

x.expandtabs()

'H       e       l       l       o'

In [34]:
a.endswith('Shaban')

True

In [36]:
a.find("Shaban")

6

In [40]:
x.isalpha()

False

In [42]:
z = "python"
z.isalpha()

True

In [46]:
n  = "5000"
n.isdigit()

True

In [50]:
a.split()

['Saeed', 'Shaban']

In [55]:
mtuple = ("PHP" , "PYTHON" , "jAVA")

x = "###".join(mtuple)

x

'PHP###PYTHON###jAVA'

In [57]:
a.lower()

'saeed shaban'

In [81]:
txt = "I like python"
x = txt.replace("python", "php")

print(x)

I like php

In [83]:
A = "       Saeed     "
A.strip()

'Saeed'

In [85]:
A.lstrip()

'Saeed     '

In [106]:
txt = "./.hh.// saeed learn python on tv"

x = txt.lstrip("//.hh")

print(x)

 saeed learn python on tv

# Slice

In [108]:
a[1]

'a'

In [111]:
a[0:5]

'Saeed'

In [116]:
a[0:5:2]

'Sed'

In [120]:
a[0::2]

'SedSaa'

In [134]:
a[1+2]

'e'

In [136]:
len(a)

12

In [145]:
last_name = 'Mohamed'

txt =f"This is my name {a}  {last_name} "

txt

'This is my name Saeed Shaban  Mohamed '

In [147]:
for i in enumerate(a[0:5]):
    print(i)

(0, 'S')
(1, 'a')
(2, 'e')
(3, 'e')
(4, 'd')